.App {
  text-align: center;
  font-size: 24px;
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-button {
  display: flex;
  justify-content: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-photos {
  padding-top: 1000px;
  border: 1px dotted green;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
  border: 1px dotted orange;
}

.photo {
  object-fit: cover;
  width: 200px;
  height: 200px;
}