.App {
  text-align: center;
}

.all-photos {
  border: 1px dotted green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.photo-wrapper {
  padding: 30px;
  height: 100px;
  width: 100px;
  border: 1px dotted orange;
}

.photo {
  height: 80px;
}